@import "tailwindcss";

@theme {
  --font-sans: "Geist Sans", ui-sans-serif, system-ui, sans-serif;
  --font-title: "Arimo", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono", ui-monospace, SFMono-Regular, monospace;
  --font-serif: "Lora", ui-serif, Georgia, serif;

  --color-blue: #64b5f6;
  --color-black: #121212;
  --color-white: #ffffff;
}

@utility list-circle {
  list-style-type: circle;
}

@layer base {
  html {
    @apply antialiased bg-black text-white;
    color-scheme: dark;
  }

  body {
    @apply flex flex-col min-h-screen w-full;
  }

  main {
    @apply justify-center place-items-center;
  }

  main,
  article {
    @apply grow flex py-1 px-2;
  }

  a {
    @apply text-blue ease-in-out duration-500 transition-colors no-underline font-bold uppercase;
  }

  a:hover {
    @apply text-white ease-out transition-colors;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold font-title uppercase text-xl;
  }

  hr {
    @apply my-4 border-gray-500;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
